html{
    background-color : rgb(211, 232, 250);
}
header{
    margin-top : -25px;
    margin-right : -10px;
    margin-left : -10px;
    height : 110px;
    position : sticky;
    top : 0px;
    z-index: 1;
    background-image: linear-gradient(to top,rgb(211,232,250), beige);
}

select{
    width: 80%;
    height: 30px;
}
select:invalid{
    color: grey;
}
fieldset{
    border: 1px solid ;
    margin: 0 auto;
    text-align: left;
    width: 300px;
    height: 400px;
    margin-top: 3%;
}
button{
    border-radius: 6px;
    width: 30%;
}
.sm img{
    width: 30px;
    height: 30px;
}
.logo{
    width: 200px;
    position: relative;
    left: 43%;
}
body {
    overflow-x: hidden;
    background-color : rgb(211, 232, 250);
}
.header {
    margin-top : -25px;
    margin-right : -10px;
    margin-left : -10px;
    height : 110px;
    position : sticky;
    top : 0px;
    z-index: 1;
    background-image: linear-gradient(to top,rgb(211,232,250), beige);
    
}
.header-logo {
    position : relative;
    left : 42%;
    top : 20%;
}
.navmenu {
    position : absolute;
    float : left;
    top : -80px;
}
.navmenu li{
    display: inline-block;
    margin-left : 5px;
    margin-right: 5px;
    margin-top : 110px;
    padding : 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    background-color: aliceblue;
    border-color: aliceblue;
    font-family: Impact;
}
.navmenu li:hover {
    transition: 0.5s;
    font-size: 20px;
}
.registration img {
    width : 15%;
    height : 15%;
    float : right;
    margin-right : 25%;
}
.registration ul li {
    display: inline-block;
    padding : 10px;
    margin-left : 5px;
    margin-right : 5px;
    border : 3px solid;
    border-color: aliceblue;
    background-color: aliceblue;
    border-radius: 5px;
    font-family: Impact;
}
.registration ul {
    position : absolute;
    left : 80%;
    top : 10%;
}
.exploretext {
    text-align: center;
    text-decoration: bold;
    margin-top : 40px;
}
.exploretext p {
    font-size: large;
}
.types {
    width : 60%;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 25px;
}
.prod p {
    font-family: Impact;
}
.prod {
    width : 200px;
    height : 200px;
    text-align: center;
    display : inline-block;
    margin-left : 5px;
    margin-right : 5px;
    background-color: lightblue;
    transition: 1s ease;
}
.prod img {
    width : 150px;
    height : 150px;
}
.prod:hover{
    transform: scale(1.1);
}
a:visited{
    color : black;
}
.services img {
    margin-right: 5px;
    width : 30px;
    height : 30px;
}
.services p{
    font-size: 20px;
    font-family: Impact;
}
.services li {
    display: inline-block;
    margin-left : 20px;
    margin-right : 20px;
}
.services ul {
    position : relative;
    left :25%;
}
.aboutus p {
    font-family: Impact;
    letter-spacing: 0.5px;
    font-size : 20px;
}
.aboutus h1 {
    text-align: center;
}
.sm img {
    width : 30px;
    height : 30px;
}
li a{
    text-decoration: none;
}
li a:visited{
    text-decoration: none;
}