.contactus {
    position: absolute;
    bottom : 0px;
    width : 50%;
    float : left;
    font-family: sans-serif;
    text-align: center;
    
}
.sm {
    position: absolute;
    bottom: 0px;
    left : 50%;
    text-align: center;
    font-family: sans-serif;
    width : 50%;
    float : right;
    
    height : 215px;
}
input {
    border-radius: 5px;
    width : 65%;
}
select{
    width: 80%;
    height: 30px;
}
select:invalid{
    color: grey;
}
fieldset{
    border: 3px solid rgb(186, 239, 255);
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
    width: 20%;
    height: 450px;
    margin-top: 3%;
    background-color: rgb(235, 233, 233);
}
form h2 {
    font-family: sans-serif;
    text-align: center;
}
form label{
    font-weight: bold;
}
.gender {
    width : 15px;
}
button{
    margin-left : auto;
    border-radius: 6px;
    padding : 10px;
    width: 30%;
}
button:hover {
    transition: 1s;
    background-color: lightblue;
}
