body {
    height: 100vh;
    margin-top: 20px;
    background-image: linear-gradient(to top, #03001e, #7303c0, #ec38bc);
}

.special {
    color:whitesmoke;
}

p{
    color: silver;
}

video{
    position: sticky;
    width: 500px;
}

a:hover{
    background-color:green;
}

a:visited{
    color: black;
}