body {
    overflow-x: hidden;
    background-color : rgb(211, 232, 250);
}
.header {
    margin-top : -25px;
    margin-right : -10px;
    margin-left : -10px;
    height : 110px;
    position : sticky;
    top : 0px;
    z-index: 1;
    background-image: linear-gradient(to top,rgb(211, 232, 250), beige);
}
.header-logo {
    text-align: center;
}
.navmenu {
    width : 30%;
    float : left;
}
.navmenu li{
    display: inline-block;
    margin-left : 5px;
    margin-right: 5px;
    padding : 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    background-color: aliceblue;
    border-color: aliceblue;
    font-family: Impact;
    
}
.navmenu li:hover {
    transition: 0.5s;
    font-size: 20px;
}
.registration img {
    width : 50px;
    height : 50px;
    float : right;
    margin-right : 15%;
}
.registration li {
    display: inline-block;
    padding : 10px;
    margin-left : 5px;
    margin-right : 5px;
    border : 3px solid;
    border-color: aliceblue;
    background-color: aliceblue;
    border-radius: 5px;
    font-family: Impact;
}
.registration {
    width : 15%;
    float : right;
    padding-left : 0px;
}.aboutus p {
    font-family :sans-serif;
    font-size : large;
}
.aboutus h1 {
    font-family :sans-serif;
    text-align: center;
}
.contactus {
    position : absolute;
    bottom: 0;
    width : 50%;
    float : left;
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to top,rgb(130, 192, 250),rgba(211, 211, 211, 0));
}
.sm {
    position : absolute;
    bottom: 0;
    left : 50.45%;
    text-align: center;
    font-family: sans-serif;
    width : 50%;
    float : right;
    background-image: linear-gradient(to top,rgb(130, 192, 250),rgba(211, 211, 211, 0));
    height : 215px;
}
.sm img {
    width : 50px;
    height : 50px;
}
.navmenu a {
    color : black;
}
hr {
    border-color: lightblue;
}
.aboutus p{
    font-size: large;
    width : 70%;
    margin : 0 auto;
}
a {
    color : black;
}